body
{
  margin: 0;
  padding: 0;
}
.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background: url('star.gif');
  background-size: cover;
  background-attachment: fixed;
  transform: translate(0%, 0%);
}
.mixBlnd
{
	background-blend-mode: screen;
}
